{# default Sliding pagination control implementation #}
<ul class="pagination">
{% if pageCount > 1 %}
    {%  set idx = 0 %}
    {% if first is defined and current != first %}
        {%  set idx = idx + 1 %}
        <li class="paginate_button previous" id="example2_previous"><a href="{{ path(route, query|merge({(pageParameterName): first})) }}" aria-controls="example2" data-dt-idx="{{ idx }}" tabindex="0"><i class="fa fa-angle-double-left text-blue"></i>&nbsp;先頭</a></li>
    {% endif %}

    {% if previous is defined %}
        {%  set idx = idx + 1 %}
        <li class="paginate_button previous" id="example2_previous"><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-controls="example2" data-dt-idx="{{ idx }}" tabindex="0"><i class="fa fa-angle-left text-blue"></i>&nbsp;前</a></li>
    {% endif %}
    
    {% for page in pagesInRange %}
        {%  set idx = idx + 1 %}
        {% if page != current %}
            <li class="paginate_button"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}" aria-controls="example2" data-dt-idx="{{ idx }}" tabindex="0">{{ page }}</a></li>
        {% else %}
            <li class="paginate_button active"><a href="{{ path(route, query|merge({(pageParameterName): page})) }}" aria-controls="example2" data-dt-idx="{{ idx }}" tabindex="0">{{ page }}</a></li>
        {% endif %}
    {% endfor %}
    
    {% if next is defined %}
        {%  set idx = idx + 1 %}
        <li class="paginate_button next" id="example2_next"><a href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-controls="example2" data-dt-idx="{{ idx }}" tabindex="0">次&nbsp;<i class="fa fa-angle-right text-blue"></i></a></li>
    {% endif %}

    {% if last is defined and current != last %}
        {%  set idx = idx + 1 %}
        <li class="paginate_button next" id="example2_next"><a href="{{ path(route, query|merge({(pageParameterName): last})) }}" aria-controls="example2" data-dt-idx="{{ idx }}" tabindex="0">最後&nbsp;<i class="fa fa-angle-double-right text-blue"></i></a></li>
    {% endif %}
{% endif %}
</ul>